*.json
*.c.i
*.o
*.lo
*.a
*.so
*.so.1
config.mak
lib/musl-gcc.specs
/obj/

.vscode
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
*.i
*.json
*.i.go
*.c.go

build/
go.*
